<!DOCTYPE HTML>
<html>



<head>
  <title>Estadística Computacional</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="principal.html">Estadística<span class="logo_colour">Computacional</span></a></h1>
          <h2>Estudio de Gráficos en R</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="principal.html">Principal</a></li>
          <li><a href="epígrafe1.html">Epígrafe 1</a></li>
          <li class="selected"><a href="epígrafe2.html">Epígrafe 2</a></li>
          <li><a href="epígrafe3.html">Epígrafe 3</a></li>
          <li><a href="epígrafe4.html">Epígrafe 4</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Alberto J.Durán López</h3>
            <h4>Estadística Computacional</h4>
            <h5>23/04/2020</h5>
            <p>Ing. Informática y Matemáticas </p>  
	    <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/logoalter1.jpg" alt="Search" title="Search" />
	    <p>  </p>
	    <p> Pulse <a href="https://github.com/thealberteitor">aquí</a> para ver más proyectos personales</p> 

	</div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Enlaces de interes</h3>
            <ul>
	      <li>E-mail: albduranlopez@correo.ugr.es  </li>
              <li><a href="https://www.r-project.org/">Documentación de R</a></li>
              
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Search</h3>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....." />
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h2>Hist, polygon, curve, lines y points</h2>

	<h3>Hist</h3>
	<p>Esta función genera y devuelve un histograma de los datos suministrados</p>
	
	<p>Buscamos información acerca de su uso y sus parámetros: </p>
	<!--begin.rcode
	help(hist)
	end.rcode-->

	<br>
	<p>Las siguientes órdenes generan una muestra pseudoaleatorio de
	una normal tipificada. Representan el histograma de los valores
	obtenidos y superponen el gráfico de la normal tipificada: </p>
	<!--begin.rcode
	hist(rnorm(100), col="orange", freq=F, xlim=c(-5,5), ylim=c(0,dnorm(0)*1.2),
	xlab="", ylab="Densidad", main="Muestra y Población")

	curve(dnorm(x),-5,5,add=T,col="black") 
	end.rcode-->

	<br>
	<p>Recordemos el resultado de ejecutar <i>plot</i> sobre
	el dataset Iris:</p>
	<!--begin.rcode
	plot(iris)
	end.rcode-->

	<p>Vemos que puede ser algo lioso observar así los datos y requiramos
	de otro tipo de gráfico para estudiar las variables, como por ejemplo
	<i>hist</i>.</p>

	
	<br>
	<p>Mostramos un histograma referente a la longitud de los sépalos del dataset Iris:</p>
	<!--begin.rcode
	hist(iris$Sepal.Length)
	end.rcode-->

	<br>
	<p>Le añadimos leyenda a los ejes y le ponemos un título: </p>
	<!--begin.rcode
	hist(iris$Sepal.Length, main="Longitud de los sépalos", col=c("black","orange"), 
	xlab="Longitud", ylab="Frecuencia", density=150)
	end.rcode-->



	<h3>Polygon</h3>
	<p>Esta función dibuja polígonos definidos por sus vértices, sobre un gráfico
	ya existente. </p>

	<br>
	<p>Añadimos un par de ejemplos para mostrar su funcionalidad:</p>
	<!--begin.rcode
	x=c(1,9)
	plot(x,x,type="n")
	polygon(c(2,4,4,2,NA,6,8,8,6),c(2,2,4,4,NA,6,6,8,8), 
	density=c(10,20), angle=c(-45,45), col=c("red","blue"))
	end.rcode-->

	<!--begin.rcode
	plot(c(1, 9), 1:2, type = "n")
	polygon(1:9, c(2,1,2,1,NA,2,1,2,1), density = c(10, 20), angle = c(-45, 45))
	end.rcode-->
	

	<h3>Curve</h3>
	<p>Esta función dibuja la curva correspondiente a una función
	dada en un intervalo concreto. </p>
	
	<br>
	<p>Mostramos en negro la función seno y en naranja la función coseno.
	Ambas en el intervalo [-2pi,2pi]</p>
	<!--begin.rcode
	curve(sin(x),-2*pi,2*pi,col="black")
	curve(cos(x),-2*pi,2*pi,add=TRUE,col="orange")
	end.rcode-->

	<br>
	<p>Podemos definir la función y llamarla</p>
	<!--begin.rcode
	f <- function(x) sin(cos(x)*exp(-x/2))
	curve(f, -8, 7, n = 200)
	end.rcode-->



	<h3>Lines and Points</h3>
	<p>Con estas funciones genéricas, se pueden añadir puntos o líneas
	al gráfico actual. </p>

	<br>
	<p>Generamos 30 valores pseudoaleatorios de una normal tipificada,
	los representamos y añadimos líneas y puntos</p>
	<!--begin.rcode
	x=rnorm(30)
	plot(x,xlab="Tiempo",ylab="Ruido")
	end.rcode-->


	<!--begin.rcode
	x=rnorm(30)
	plot(x,xlab="Tiempo",ylab="Ruido")
	lines(x,col="black")
	points(x,col="orange",pch=3)
	end.rcode-->

	<br>
	<p>Mostramos otro ejemplo donde representamos dos líneas y le añadimos una leyenda:</p>
	<!--begin.rcode
	x <- 1:10
	y1 <- x*x
	y2  <- 2*y1
	plot(x, y1, type = "b", frame = FALSE, pch = 19, col = "red", xlab = "x", ylab = "y")
	lines(x, y2, pch = 18, col = "blue", type = "b", lty = 2)
	legend("topleft", legend=c("Line 1", "Line 2"), col=c("red", "blue"), lty = 1:2, cex=0.8)
	end.rcode-->


	<p>Usando el dataset <i>Cars</i> podemos representar
	la línea que mejor aproxima la nube de puntos:</p>
	<!--begin.rcode
	plot(cars, main = "Stopping Distance versus Speed")
	lines(stats::lowess(cars))
	end.rcode-->

      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="principal.html">Principal</a> | <a href="epígrafe1.html">Epígrafe 1</a> | <a href="epígrafe2.html">Epígrafe 2</a> | <a href="epígrafe3.html">Epígrafe 3</a> | <a href="epígrafe4.html">Epígrafe 4</a></p>
      <p>Copyright &copy;  | HTML5 | CSS </p>
    </div>
  </div>
</body>
</html>
